@model IEnumerable<HOSPITAL.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.appoint_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.doctor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.patientname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.appoint_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.doctor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.patientname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.appoint_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.appoint_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.appoint_id })
        </td>
    </tr>
}

</table>
